[submodule "Section_8_aula403"]
	path = Section_8_aula403
	url = git@github.com:oscarlmjr/Curso_de_Python_3_Section_8_aula403.git 
[submodule "Section_15__ambiente_python_2025"]
	path = Section_15__ambiente_python_2025
	url =  git@github.com:oscarlmjr/Curso_de_Python_3_Section_15__ambiente_python_2025.git 
[submodule "Section_9__ola_django"]
	path = Section_9__ola_django
	url = git@github.com:oscarlmjr/Python_3_Section_9__ola_django.git
[submodule "Section_10__projeto_agenda_django"]
	path = Section_10__projeto_agenda_django
	url = git@github.com:oscarlmjr/Python_3_Section_10__projeto_agenda_django.git
[submodule "Section_12__projeto-blog-django_23"]
	path = Section_12__projeto-blog-django_23
	url = git@github.com:oscarlmjr/Python_3_Section_12__projeto-blog-django_23.git
[submodule "Section_13__projeto-ecommerce"]
	path = Section_13__projeto-ecommerce
	url = git@github.com:oscarlmjr/Section_13__projeto-ecommerce.git
