[submodule "Section_8_aula403"]
	path = Section_8_aula403
	url = git@github.com:oscarlmjr/Curso_de_Python_3_Section_8_aula403.git 
[submodule "Section_15__ambiente_python_2025"]
	path = Section_15__ambiente_python_2025
	url =  git@github.com:oscarlmjr/Curso_de_Python_3_Section_15__ambiente_python_2025.git 